<div class="container">
  <div class="row center-row">
    <input type="text" class="btn btn-lg" [(ngModel)]="searchKeyWord" (ngModelChange)="searchParams.search=$event;"
      placeholder="Search a recall...">
    <mat-form-field appearance="fill">
      <mat-label>Select a category</mat-label>
      <mat-select [(ngModel)]="selectedCategory" (ngModelChange)="searchParams.cat=$event;">
        <div *ngFor="let category of categories">
          <mat-option value="{{category.label}}">{{category.label}}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select a language</mat-label>
      <mat-select [(ngModel)]="selectedLang" (ngModelChange)="searchParams.lang=$event;">
        <mat-option value="en">English</mat-option>
        <mat-option value="fr">French</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button color="warn" aria-label="" (click)="doSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="row center-row">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <div *ngIf="searchResutData.length > 0 || pageEvent">
      <mat-table [dataSource]="searchResutData" class="mat-elevation-z8">
        <ng-container matColumnDef="recallId">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.recallId}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="department">
          <mat-header-cell *matHeaderCellDef> Department </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.department}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="date_published">
          <mat-header-cell *matHeaderCellDef> Publication </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.date_published}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="pageurl">
          <mat-header-cell *matHeaderCellDef> Link </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.pageurl}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="searchColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: searchColumns;"></mat-row>
      </mat-table>
      <mat-paginator [length]="length" [pageSize]="pageSize"
        (page)="pageEvent = $event; doSearch()">
      </mat-paginator>
    </div>
  </div>
</div>
