<div class="container">
  <div class="row center-row">
    <input type="text" class="btn btn-lg" [(ngModel)]="searchKeyWord" (ngModelChange)="searchParams.search=$event;"
      placeholder="Search a recall...">
    <mat-form-field appearance="fill">
      <mat-label>Select a category</mat-label>
      <mat-select [(ngModel)]="selectedCategory" (ngModelChange)="searchParams.cat=$event;">
        <div *ngFor="let category of categories">
          <mat-option value="{{category.label}}">{{category.label}}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select a language</mat-label>
      <mat-select [(ngModel)]="selectedLang" (ngModelChange)="searchParams.lang=$event;">
        <mat-option value="en">English</mat-option>
        <mat-option value="fr">French</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button color="warn" aria-label="" (click)="doSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="row center-row">
    waiting you to launch search for {{searchKeyWord}}...
    <app-spinner *ngIf="isLoading"></app-spinner>
    <div *ngIf="pageEvent">
      <h5>Page Change Event Properties</h5>
      <div>List length: {{pageEvent.length}}</div>
      <div>Page size: {{pageEvent.pageSize}}</div>
      <div>Page index: {{pageEvent.pageIndex}}</div>
      <mat-table [dataSource]="searchResutData" class="mat-elevation-z8">
        <!-- Panel Column -->
        <ng-container matColumnDef="panelName">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.panelName}} </mat-cell>
        </ng-container>
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>
        <!-- text Column -->
        <ng-container matColumnDef="text">
          <mat-header-cell *matHeaderCellDef> Content </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.text}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="searchColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: searchColumns;"></mat-row>
      </mat-table>
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = $event">
    </mat-paginator>
    <pre>{{ searchResutData | json }}</pre>
  </div>
</div>
