<div class="container" [ngStyle]="{'padding-top': '50px'}">
  <div class="row">
      <div class="col-6">
          <div class="card">
              <div class="card-header">
                  The number of violations in each category
              </div>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text" id="histogram">
                </p>
              </div>
          </div>
      </div>

      <div class="col-6">
          <div class="card">
              <div class="card-header">
                  The earliest and latest violation date for each category
              </div>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text" id="minMax">
                </p>
              </div>
          </div>
      </div>
  </div>
</div>
