<nav class="navbar navbar-expand-lg primary-color">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">Code for Canada</a>
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarelement">
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="https://healthycanadians.gc.ca/recall-alert-rappel-avis/api/recent/en/">API Link</a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown">
              <a (click)="openDropdownItem()" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components in this app</a>
              <div #navdrop class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" [routerLink]="['/']">Main page</a>
                  <a class="dropdown-item" [routerLink]="['/top-most-recall/3']">Top 3 recent recalls</a>
                  <a class="dropdown-item" [routerLink]="['/search-recall']">Search a recall</a>
              </div>
          </li>

      </ul>
  </div>
  <!-- Collapsible content -->
</nav>

<router-outlet></router-outlet>
