<div class="container">
  <div class="row">
    <button (click)="getLastRecall()">Get Last 15 recalls</button>
    <button (click)="getTopMostRecent(3)">Get top 3 most recent per category</button>
  </div>
  <div class="row">
    <div class="col-4" *ngFor="let category of categories">
      <div class="card">
        <div class="card-header">
          {{ category }}
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <app-spinner *ngIf="isLoading"></app-spinner>
          </h5>
          <div *ngIf="data">
            <ul class="card-text" *ngFor="let element of data['results'][category]">
              <li>
                <a [routerLink]="'last-recall-detail/' + element.recallId" >{{ element.title }} </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  <pre>{{ data | json }}</pre>-->
</div>
